<div class="page-header">
  <h1>Execute task <strong><%= @run.task_name %></strong></h1>
</div>

<%= form_tag run_execute_path(@run), {:class => "form-horizontal run" } do |f| %>

  <div class="form-group">
    <%= label_tag :target, 'Target', {:class => 'control-label col-lg-2'} %>
    <div class="col-lg-10">
      <%#= select_tag :target, options_for_select(@servers), {:class => 'form-control', :disabled => true} %>
      <%= text_field_tag :target, 'localhost', {:class => 'form-control'} %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :username, 'username', {:class => 'control-label col-lg-2'} %>
    <div class="col-lg-10">
      <%= text_field_tag :username, '', {:class => 'form-control'} %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :password, 'password', {:class => 'control-label col-lg-2'} %>
    <div class="col-lg-10">
      <%= password_field_tag :password, '', {:class => 'form-control'} %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= submit_tag 'Submit Job', :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                runs_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
